* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-image: url(image/bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-wrap: wrap;
}

.intro_img {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
}
.intro_page {
    flex: 1 1 50%;
    padding: 2em;
}

.intro_page h1 {
    font-size: 2.5rem;
    color: black;
}

.intro_page h1 span {
    color: lightseagreen;
}

.intro_page p {
    font-size: 1rem;
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 1.6;
    color: #333;
}

