* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-image: url(image/bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-wrap: wrap;
}

.intro_img {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
}
.intro_page {
    flex: 1 1 50%;
    padding: 2em;
}

.intro_page h1 {
    font-size: 2.5rem;
    color: black;
}

.intro_page h1 span {
    color: lightseagreen;
}

.intro_page p {
    font-size: 1rem;
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 1.6;
    color: #333;
}

.reviews h2,
.arrivals h2,
.nav-icons i {
    transition: 0.3s;
    padding: 8px;
    border-radius: 50%;
}

.nav-icons i:hover {
    background: #ddd;
    color: #000;
    transform: scale(1.1);
}

.featured_book h2 {
    text-align: center;
    font-size: 2.5rem;
    color: black;
}

.our-blog {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.our-blog h1 {
    margin: 5vh;
    font-size: 2em;
}

.our-blog .container {
    width: 90vw;
    max-width: 1200px;
}

.our-blog .container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.our-blog .container .row .bloger {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(30% - 20px);
    margin: 10px;
    box-shadow: 0px 0px 10px #5c5f5f;
    justify-content: space-between;
}

.our-blog .container .row .bloger .bloger-image {
    overflow: hidden;
}

.our-blog .container .row .bloger .bloger-image img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.our-blog .container .row .bloger .bloger-image img:hover {
    transform: scale(1.1);
}

.our-blog .container .row .bloger .bloger-details {
    margin: 0 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    flex-grow: 1;
}

.our-blog .container .row .bloger .bloger-details h2 {
    color: #089da1;
    font-size: 1em;
    font-weight: bolder;
}

.our-blog .container .row .bloger .bloger-details p {
    font-size: 1em;
}

.our-blog .container .row .bloger .bloger-details .blog-icons {
    display: flex;
    justify-content: space-between;
    height: 0.7em;
    margin: 1vh 0 2vh 0;
}

.our-blog .container .row .bloger .bloger-details .blog-icons i {
    color: #089da1;
    transition: transform 0.3s ease;
}

.our-blog .container .row .bloger .bloger-details .blog-icons i:hover {
    transform: scale(1.3);
}


.reviews h2,
.arrivals h2,
.featured_book h2 {
    text-align: center;
    font-size: 2.5rem;
    color: black;
}

.about,
header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
}

.about .about_img,
.intro_img {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em;
}

.about .about_img img,
.intro_img img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: lightseagreen;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #089da1;
}

nav {
    position: sticky;
    width: 100%;
    display: flex;
    flex-direction: row;
    top: 0;
    z-index: 999;
    box-shadow: 0 0 0.5em #289b9f;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 1vh 0;
}

nav .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .container .nav-logo {
    height: 5vh;
}

nav .container .nav-logo img {
    height: 100%;
}

nav .container .nav-icons,
nav .container .nav-links ul {
    display: flex;
    align-items: center;
}

nav .container .nav-links ul {
    gap: 1.25rem;
    list-style: none;
}

nav .container .nav-links ul a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}

nav .container .nav-links ul a:hover {
    color: #089da1;
    padding-bottom: 0.45em;
    border-bottom: 0.1em solid #089da1;
}

nav .container .nav-icons {
    gap: 1rem;
    color: #089da1;
    transition: transform 0.3s ease;
}

nav .container .nav-icons:hover {
    transform: scale(1.1);
}

nav .container .nav-icons .nav_list {
    display: none;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}

#title {
    font-size: -webkit-xxx-large;
}

span {
    color: #007c91;
}