* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-image: url(image/bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-wrap: wrap;
}

.intro_img {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
}
.intro_page {
    flex: 1 1 50%;
    padding: 2em;
}

.intro_page h1 {
    font-size: 2.5rem;
    color: black;
}

.intro_page h1 span {
    color: lightseagreen;
}

.intro_page p {
    font-size: 1rem;
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 1.6;
    color: #333;
}

.reviews h2,
.arrivals h2,
.nav-icons i {
    transition: 0.3s;
    padding: 8px;
    border-radius: 50%;
}

.nav-icons i:hover {
    background: #ddd;
    color: #000;
    transform: scale(1.1);
}

.featured_book h2 {
    text-align: center;
    font-size: 2.5rem;
    color: black;
}

.our-blog {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.our-blog h1 {
    margin: 5vh;
    font-size: 2em;
}

.our-blog .container {
    width: 90vw;
    max-width: 1200px;
}

.our-blog .container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.our-blog .container .row .bloger {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(30% - 20px);
    margin: 10px;
    box-shadow: 0px 0px 10px #5c5f5f;
    justify-content: space-between;
}

.our-blog .container .row .bloger .bloger-image {
    overflow: hidden;
}

.our-blog .container .row .bloger .bloger-image img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.our-blog .container .row .bloger .bloger-image img:hover {
    transform: scale(1.1);
}

.our-blog .container .row .bloger .bloger-details {
    margin: 0 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    flex-grow: 1;
}

.our-blog .container .row .bloger .bloger-details h2 {
    color: #089da1;
    font-size: 1em;
    font-weight: bolder;
}

.our-blog .container .row .bloger .bloger-details p {
    font-size: 1em;
}

.our-blog .container .row .bloger .bloger-details .blog-icons {
    display: flex;
    justify-content: space-between;
    height: 0.7em;
    margin: 1vh 0 2vh 0;
}

.our-blog .container .row .bloger .bloger-details .blog-icons i {
    color: #089da1;
    transition: transform 0.3s ease;
}

.our-blog .container .row .bloger .bloger-details .blog-icons i:hover {
    transform: scale(1.3);
}

